<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title></title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <h1>Murrays</h1>
    <main id="murray-container">
      <% for (const murray of murrays) { %>
        <article class="murray">
          <header>
            <img src="http://fillmurray.com/300/200" />
          </header>
          <section class='body'>
            <%= murray.name %>
          </section>
        </article>
      <% } %>
    </main>

  </body>
</html>
