html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0; }

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  background: #ccc; }
  .navbar h1 {
    margin: 0 1em; }

main {
  margin-top: 96px; }

#murray-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 960px) {
    #murray-container {
      width: 960px;
      margin: 0 auto; } }
  #murray-container .murray {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0.5em auto;
    width: 100%; }
    @media (min-width: 500px) {
      #murray-container .murray {
        width: 50%; } }
    @media (min-width: 960px) {
      #murray-container .murray {
        width: 33.33%; } }
    #murray-container .murray img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    #murray-container .murray .body {
      text-align: center;
      font-size: 20px;
      padding: 10px 0; }
    #murray-container .murray.active {
      background-color: #ccc; }
