html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0; }

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  background: #ccc; }
  .navbar h1 {
    margin: 0 1em; }

main {
  margin-top: 96px; }

#murray-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  #murray-container .murray {
    flex: 1 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px;
    max-width: 33.3333333%; }
    #murray-container .murray img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    #murray-container .murray .body {
      text-align: center;
      font-size: 20px;
      padding: 10px 0; }
    #murray-container .murray.active {
      background-color: #ccc; }
    .test #murray-container .murray {
      color: yellow; }
