@import "variables";

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $navbar-height;
  line-height: $navbar-height;
  background: $navbar-color;
}

.navbar h1 {
  margin: 0 1em;
}

main {
  margin-top: $navbar-height + 16px;
}

#murray-container {
  width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  & > .murray {
    flex: 1 0 auto;
    border: $border;
    border-radius: 5px;
    margin: 8px;
    max-width: $container-width / 3;
    // @include transform(rotate(30deg));

    img {
      width: 100%;
    }

    .body {
      text-align: center;
      font-size: 20px;
    }
  }
}
