@import "variables";
@import "reset";
@import "nav";

main {
  margin-top: $nav-height + 16px;
}

#murray-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 960px) {
    & {
      width: 960px;
      margin: 0 auto;
    }
  }

  .murray {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0.5em auto;
    width: 100%;

    @media (min-width: 500px) {
      & {
        width: 50%;
      }
    }

    @media (min-width: 960px) {
      & {
        width: 33.33%;
      }
    }

    img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .body {
      text-align: center;
      font-size: 20px;
      padding: 10px 0;
    }

    &.active {
      background-color: #ccc;
    }
  }
}
